.yes-no {
  display: flex;
  width: 100%;
  height: 100%;
}

.yes,
.no {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  display: flex;
  align-items: center;
  font-size: 3em;
  justify-content: center;
}

.active {
  opacity: 1;
}

.yes {
  background: blue;
}

.no {
  background: red;
}

.kidding {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  height: 100%;
}
